@font-face{
    font-family: 'FuturaDemic';
    src: url("../font/futuredemic.otf");
}
@font-face{
    font-family: 'YesevaOne';
    src: url("../font/YesevaOne-Regular_v2.otf");
}
@font-face{
    font-family: 'FuturaBookC';
    src: url("../font/futurabookc.otf");
}