@import 'abstracts/variables';
@import 'abstracts/mixin';
@import 'abstracts/function';
@import 'base/font';
@import 'components/h';
@import 'components/button';
@import 'layout/header';

body{
    background-color: mix(#252525, #181818);
    display: grid;
    margin: 0;
    @include display_field;
    opacity: 0.7;
    font-family: FuturaBookC;
    color: white;
    text-align: center;
    font-size: size-375(14);
    line-height: size-375(22);
}

section, form{
    grid-column: 2/3;
}

.line{
            height: size-375(2);
            border-bottom: size-375(2) solid $yellow-color;
}

.offer{
    grid-column: 1/4;
    background-image: url(../images/background.png);
    background-size: cover;
    height: size-375(476);
}

.offer_substate{
    position: absolute;
    height: size-375(476);
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include display_field;
    display: grid;
    grid-template-rows: size-375(145) size-375(110) size-375(83) size-375(112);
    
    h2,span,button{
        grid-column: 2/3;
    }
    h2{
        text-align: left;
        font-size: size-375(23);
        margin-top: size-375(85);
        span{
            color: white;
        }
    }
    .offer_description{
        font-family: FuturaBookC;
        width: size-375(290);
        font-size: size-375(18);
        font-weight: normal;
        margin-top: size-375(16);
        color: white;
        text-align: left;
    }
    
    .button_yellow{
        margin-top: size-375(32);
    }
    
    .button_transparent{
        margin-top: size-375(26);
    }
}

.example{
    display: grid;
    justify-content: center;
    text-align: center;
    .name_block{
        padding-top: size-375(36);
        line-height: size-375(30);
    }
    .project_description{
        margin-top: size-375(22);
    }
    .gallery{
        margin-top: size-375(36);
        background-image: url(../images/example/image-1.png);
        background-size: cover;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        height: size-375(241.5);
        @include button_arrow;
    }
    .pulce{
        margin-top: size-375(36.45);
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .pulce_desc{
        display: grid;
        justify-items: flex-start;
        
        span{
            text-align: left;
        }
    }
    
}

.control{
    margin-top: size-375(57);
    display: grid;
}

.control_video{
    margin-top: size-375(40.2);
    width: size-375(320);
    height: size-375(207);
}

.control_separator{
    justify-self: center;
    margin-top: size-375(28);
    margin-bottom: size-375(22);
    width: size-375(55);
}

.header_section
{
    h2{
        color: white;
        grid-column:1/4;
        text-align: center;
    }
    .header_section_logo{
        margin-top: size-375(13);
        display: grid;
        grid-template-columns: size-375(32) size-375(32.77+9.47*2) size-375(32);
        justify-content: center;
        align-items: center;
        .logo{
            width: size-375(32.77);
            margin: auto size-375(9.47);
        }
    }
}