@import '../abstracts/variables';
@import '../abstracts/mixin';
@import '../abstracts/function';
@import '../base/font';
@import '../components/h';
@import '../components/button';
.offer{
    grid-column: 1/4;
    background-image: url(../images/background.png);
    background-size: cover;
    height: size-375(476);
}

.offer_substate{
    position: absolute;
    height: size-375(476);
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @include display_field;
    display: grid;
    grid-template-rows: size-375(145) size-375(110) size-375(83) size-375(112);
    
    h2{
        text-align: left;
        font-size: size-375(23);
        margin-top: size-375(85);
        span{
            color: white;
        }
    }
    .offer_description{
        font-family: FuturaBookC;
        width: size-375(290);
        font-size: size-375(18);
        font-weight: normal;
        margin-top: size-375(16);
        color: white;
        text-align: left;
    }
    
    .button_yellow{
        margin-top: size-375(32);
    }
    
    .button_transparent{
        margin-top: size-375(26);
    }
}