@font-face {
  font-family: 'FuturaDemic';
  src: url("../font/futuredemic.otf"); }

@font-face {
  font-family: 'YesevaOne';
  src: url("../font/YesevaOne-Regular_v2.otf"); }

@font-face {
  font-family: 'FuturaBookC';
  src: url("../font/futurabookc.otf"); }

h2 {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  font-size: 5.86667vw;
  text-align: center;
  font-family: YesevaOne;
  font-style: normal;
  font-weight: normal;
  font-size: 6.13333vw;
  line-height: 8vw;
  text-transform: uppercase;
  color: #E3B873;
  margin: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

h3 {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  font-size: 3.73333vw;
  font-family: YesevaOne;
  text-transform: uppercase;
  color: #E3B873;
  margin: 0; }

.button_yellow {
  background: #E3B873;
  border: 0;
  color: #FFFFFF;
  height: 13.6vw;
  font-family: FuturaDemiC;
  text-align: center;
  font-size: 3.46667vw;
  cursor: pointer; }

.button_transparent {
  background: transparent;
  border: 1px solid white;
  color: #FFFFFF;
  height: 13.6vw;
  font-family: FuturaDemiC;
  text-align: center;
  font-size: 3.46667vw;
  cursor: pointer; }

.button_round {
  /*  width: size-1440(54.72);
    height: size-1440(54.72);*/
  width: 9.6vw;
  height: 9.6vw;
  cursor: pointer;
  background: #E3B873;
  border-radius: 50%;
  border-width: 0;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media (max-width: 375px) {
    .button_round {
      width: 9.6vw;
      height: 9.6vw; } }

.check_line_label {
  margin-top: 7.06667vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0 7.2vw auto;
  grid-template-columns: 0 7.2vw auto;
  text-align: left; }

.checked {
  width: 4.8vw;
  height: 4.8vw;
  background: #E3B873; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.checkbox:checked + .checked {
  background-image: url(../images/feedback/check.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center; }

.feedback .button_yellow {
  width: 100%;
  margin-top: 16.8vw;
  font-size: 4vw; }

header {
  width: 100%;
  height: 15.2vw;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%; }
  header h1 {
    font-family: FuturaDemiC;
    font-size: 3.2vw;
    margin-top: 6.13333vw;
    color: #E3B873;
    text-align: left;
    text-transform: uppercase; }
  header .cellphone {
    font-family: FuturaDemiC;
    font-size: 3.2vw;
    margin-top: 6.13333vw;
    color: white;
    text-align: right; }

body {
  background: #1f1f1f;
  opacity: 0.57;
  display: -ms-grid;
  display: grid;
  margin: 0;
  -ms-grid-columns: 4.8vw 1fr 4.8vw;
  grid-template-columns: 4.8vw 1fr 4.8vw;
  font-family: FuturaBookC;
  color: white;
  text-align: center;
  font-size: 3.73333vw;
  line-height: 5.86667vw; }

.background {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 24, 24, 0.57); }

.gallery {
  margin-top: 9.6vw;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 64.4vw; }
  .gallery img {
    width: 1.66933vw;
    height: 2.92267vw; }
  .gallery .left {
    margin-left: 3.73333vw; }
  .gallery .right {
    margin-right: 3.73333vw;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -ms-grid-column-align: end;
    justify-self: end; }

section, form {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3; }

.line {
  height: 0.53333vw;
  border-bottom: 0.53333vw solid #E3B873; }

.offer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-image: url(../images/background.png);
  background-size: cover;
  height: 126.93333vw; }

.offer_substate {
  position: absolute;
  height: 126.93333vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-grid-columns: 4.8vw 1fr 4.8vw;
  grid-template-columns: 4.8vw 1fr 4.8vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 38.66667vw 29.33333vw 22.13333vw 29.86667vw;
  grid-template-rows: 38.66667vw 29.33333vw 22.13333vw 29.86667vw; }
  .offer_substate h2, .offer_substate span, .offer_substate button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3; }
  .offer_substate h2 {
    text-align: left;
    font-size: 6.13333vw;
    margin-top: 22.66667vw; }
    .offer_substate h2 span {
      color: white; }
  .offer_substate .offer_description {
    font-family: FuturaBookC;
    width: 77.33333vw;
    font-size: 4.8vw;
    font-weight: normal;
    margin-top: 4.26667vw;
    color: white;
    text-align: left; }
  .offer_substate .button_yellow {
    margin-top: 8.53333vw; }
  .offer_substate .button_transparent {
    margin-top: 6.93333vw; }

.example {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  .example .name_block {
    padding-top: 9.6vw;
    line-height: 8vw; }
  .example .project_description {
    margin-top: 5.86667vw; }
  .example .gallery {
    background-image: url(../images/example/image-1.png); }
  .example .pulce {
    margin-top: 9.72vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 7.2vw; }
  .example .pulce_desc {
    display: -ms-grid;
    display: grid;
    justify-items: flex-start; }
    .example .pulce_desc span {
      text-align: left; }

.control {
  margin-top: 15.2vw;
  display: -ms-grid;
  display: grid; }

.control_video {
  margin-top: 10.72vw;
  width: 85.33333vw;
  height: 55.2vw; }

.control_separator {
  -ms-grid-column-align: center;
  justify-self: center;
  margin-top: 7.46667vw;
  margin-bottom: 5.86667vw;
  width: 14.66667vw; }

.header_section h2 {
  color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  text-align: center; }

.header_section .header_section_logo {
  margin-top: 3.46667vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8.53333vw 13.78933vw 8.53333vw;
  grid-template-columns: 8.53333vw 13.78933vw 8.53333vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header_section .header_section_logo .logo {
    width: 8.73867vw;
    margin: auto 2.52533vw; }

.feedback {
  width: 100%; }

.field {
  margin-top: 10.66667vw;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: rgba(255, 255, 255, 0.5);
  text-align: left; }
  .field .editBox {
    background: transparent;
    font-size: 4.8vw;
    border: none;
    border-bottom: 2px solid white;
    padding-bottom: 2.13333vw;
    color: white; }
  .field .editBox::-webkit-input-placeholder {
    color: white; }
  .field .editBox:-ms-input-placeholder {
    color: white; }
  .field .editBox::-ms-input-placeholder {
    color: white; }
  .field .editBox::placeholder {
    color: white; }

.typesOfRepair {
  margin-top: 15.46667vw;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05); }
  .typesOfRepair h2 {
    color: #181818; }
  .typesOfRepair .photo {
    width: 100%; }

.types {
  margin-bottom: 47.46667vw; }

.types_description {
  width: 72vw;
  position: absolute;
  margin-top: -37.86667vw;
  background: white;
  color: black;
  text-align: left; }
  .types_description h3 {
    font-size: 4vw;
    color: #363636; }
  .types_description .list {
    margin-top: 5.6vw;
    margin-left: 8.26667vw; }
  .types_description ul {
    padding: 0;
    padding-left: 4vw;
    color: #959595; }
  .types_description .types_button {
    width: 50.66667vw;
    height: 10.66667vw;
    -webkit-box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-size: 15px;
    text-transform: uppercase;
    text-align: center; }

.realize .gallery {
  background-image: url(../images/realize/image-1.png); }
