@font-face {
  font-family: 'FuturaDemic';
  src: url("../font/futuredemic.otf"); }

@font-face {
  font-family: 'YesevaOne';
  src: url("../font/YesevaOne-Regular_v2.otf"); }

@font-face {
  font-family: 'FuturaBookC';
  src: url("../font/futurabookc.otf"); }

body {
  background-color: #1f1f1f;
  display: -ms-grid;
  display: grid;
  margin: 0;
  -ms-grid-columns: 4.8vw 1fr 4.8vw;
  grid-template-columns: 4.8vw 1fr 4.8vw;
  opacity: 0.7;
  font-family: FuturaBookC;
  color: white;
  text-align: center;
  font-size: 3.73333vw;
  line-height: 5.86667vw; }

.h2_text {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  font-size: 5.86667vw;
  text-align: center;
  font-family: YesevaOne;
  font-style: normal;
  font-weight: normal;
  font-size: 6.13333vw;
  line-height: 8vw;
  text-transform: uppercase;
  color: #E3B873;
  margin: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center; }

.h3_text {
  -webkit-margin-before: 0;
  margin-block-start: 0;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  font-size: 3.73333vw;
  font-family: YesevaOne;
  text-transform: uppercase;
  color: #E3B873;
  margin: 0; }

header {
  width: 100%;
  height: 15.2vw;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%; }
  header h1 {
    font-family: FuturaDemiC;
    font-size: 3.2vw;
    margin-top: 6.13333vw;
    color: #E3B873;
    text-transform: uppercase; }
  header .cellphone {
    font-family: FuturaDemiC;
    font-size: 3.2vw;
    margin-top: 6.13333vw;
    color: white;
    text-align: right; }

.button_yellow {
  background: #E3B873;
  border: 0;
  color: #FFFFFF;
  height: 13.6vw;
  font-family: FuturaDemiC;
  text-align: center;
  font-size: 3.46667vw;
  cursor: pointer; }

.button_transparent {
  background: transparent;
  border: 1px solid white;
  color: #FFFFFF;
  height: 13.6vw;
  font-family: FuturaDemiC;
  text-align: center;
  font-size: 3.46667vw;
  cursor: pointer; }

.button_round {
  width: 9.6vw;
  height: 9.6vw;
  cursor: pointer;
  background: #E3B873;
  border-radius: 50%;
  border-width: 0;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.offer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  background-image: url(../images/background.png);
  background-size: cover;
  height: 126.93333vw; }

.offer_substate {
  position: absolute;
  height: 126.93333vw;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -ms-grid-columns: 4.8vw 1fr 4.8vw;
  grid-template-columns: 4.8vw 1fr 4.8vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 38.66667vw 29.33333vw 22.13333vw 29.86667vw;
  grid-template-rows: 38.66667vw 29.33333vw 22.13333vw 29.86667vw; }
  .offer_substate h2, .offer_substate span, .offer_substate button {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3; }
  .offer_substate h2 {
    text-align: left;
    font-size: 6.13333vw;
    margin-top: 22.66667vw; }
    .offer_substate h2 span {
      color: white; }
  .offer_substate .offer_description {
    font-family: FuturaBookC;
    width: 77.33333vw;
    font-size: 4.8vw;
    font-weight: normal;
    margin-top: 4.26667vw;
    color: white;
    text-align: left; }
  .offer_substate .button_yellow {
    margin-top: 8.53333vw; }
  .offer_substate .button_transparent {
    margin-top: 6.93333vw; }

.example {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  .example .name_block {
    padding-top: 9.6vw;
    line-height: 8vw; }
  .example .project_description {
    margin-top: 5.86667vw; }
  .example .gallery {
    margin-top: 9.6vw;
    background-image: url(../images/example/image-1.png);
    background-size: cover;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 64.4vw; }
    .example .gallery img {
      width: 1.66933vw;
      height: 2.92267vw; }
    .example .gallery .left {
      margin-left: 3.73333vw; }
    .example .gallery .right {
      margin-right: 3.73333vw;
      -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      transform: rotate(-180deg);
      -ms-grid-column-align: end;
      justify-self: end; }
  .example .pulce {
    margin-top: 9.72vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr; }
  .example .pulce_desc {
    display: -ms-grid;
    display: grid;
    justify-items: flex-start; }
